@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Municiple Waste Management</h1>
   
</div>
<div>
<p>
    <div class="btn-outline-danger">
        <div class="col-sm-4">CLICK HERE FOR</div><a href="~/Customer/Index">Customers</a>
    </div>
</p>
</div>

<div>
    <p>
    <div class="btn--outline-danger">
        <div class="col-sm-4">CLICK HERE FOR</div><a href="~/Employee/Index">Employees</a>
    </div>
</p>
</div>

